* {
	text-shadow: none;
}

html, body {
	height: 100%; 
	margin: 0px !important;
}

#page {
	overflow: hidden;
}

#header {
	width: 100%;
	height: 88px;
    background-color: #F7F7F7;
    position: fixed;
    top: 0;
    left: 0;
}

#header .left {
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	display: inline-block;
	height: 48px;
	display:table-cell;
}

#header .right {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	display: inline-block;
	height: 48px;
	display:table-cell;
}

#header .right i, #header .left i {
	width: inherit;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#header .left span {
	/*position: inherit;
	vertical-align: sub;*/
}

#header .center {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 48px;
}

#footer {
	width: 100%;
	height: 88px;
	background-color: #F7F7F7;
	text-align: center;
	position: fixed;
    bottom: 0;
    left: 0;
}

#footer .footer-limit {
	width: 50%;
	margin: 0 auto;
	height: 100%;
	vertical-align: middle;
}

#footer .footer-limit .ui-grid-c {
	vertical-align: middle;
	transform: translateY(17%);
}

#footer .footer-limit .ui-grid-c div p {
	margin: 0;
	font-size: 15px;
}

#footer .footer-actions {
	width: 50%;
	height: 100%;
	margin: 0 auto;
}

#footer .footer-actions p.label {
	margin: 0;
}

#menu i {
	transform: translate(30%, 6%);
}

#menu span {
	transform: translate(15%, -15%);
	display: inline-block;
}

#menu .menu-profile i {
	transform: inherit;
}

#menu .menu-profile span {
	transform: inherit;
}

#menu .menu-profile .fa-user {
	position: absolute;
	transform: inherit;
	transform: translate(-113%, 8%);
	color: #EDEDED;
}

#menu .menu-profile .thumbnail {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
	background-color: #000;
	background-image: url("../images/mehdi.jpg");
	float: left;
	margin-right: 15px;
}

#menu .menu-profile span {
	position: absolute;
}

#menu .menu-profile span.name {
	top: 24%;
	font-size: 22px;
}

#menu .menu-profile span.email {
	bottom: 25%;
	font-size: 15px;
}

#pageContent {
	position: absolute;
	top: 91px;
	bottom: 91px;
	left: 0;
	right: 0;
}