/*@font-face {
    font-family: helveticaNeueThin;
    src: url (../fonts/HelveticaNeueThin.ttf);
}*/

* {
	text-shadow: none;
	/*font-family: helveticaNeueThin;*/
}

html, body {
	height: 100%; 
	margin: 0px !important;
}

#page {
	overflow: hidden;
	background-color: #c9cfd6;
}

#header {
	width: 100%;
	height: 48px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: center;
	background-size: cover;
	background-color: #ef5a49;
	position: fixed;
	top: 0px;
	left: 0px;
	border: none;
}

#header .left {
	float: left;
	margin-right: 20px;
	display: inline-block;
	height: 48px;
	display:table-cell;
}

#header .right {
	float: right;
	margin-left: 20px;
	height: 48px;
}

#header .right a {
	margin-right: 10px;
	margin-left: 10px;
}

#header .left a,
#header .right a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	height: 40px;
	margin-top: 8px;
	display: block;
	float: right;
}

#header .left a {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 10px;
}

#header .right a img {
	height: 34px;
}

#header .left img {
	display: inline-block;
	float: left;
	height: 24px;
}

#header .left span {
	display: inline-block;
	float: left;
	margin-left: 8px;
	line-height: 24px;
	height: 24px;
}

#header .center {
	margin: 0 auto;
	text-align: center;
	background-repeat: no-repeat;
	height: 48px;
	width: 300px;
}

#header .center.with-logo {
	background-position: center;
	background-size: contain;
	background-image: url("../images/logo_white.png");
}

#header .center .current-title {
	margin: 0;
	height: 48px;
	line-height: 48px;
	color: #FFF;
	font-weight: normal;
}

#footer {
	width: 100%;
	height: 48px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ef5a49;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border: none;
}

#footer #center.with-logo {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/logo_white.png");
	margin: 0 auto;
	text-align: center;
	height: 48px;
	width: 165px;
}

#footer .footer-action {
	display: block;
	width: 65px;
	text-align: center;
	width: 65px;
	height: 48px;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}

#footer .footer-action.right {
	float: right;
}

#footer .footer-action:first-child {
	margin-left: 20px;
}

#footer .footer-action img {
	height: 34px;
	display: block;
	margin: 0 auto;
}

#footer .footer-action img {
	height: 34px;
	display: block;
	margin: 0 auto;
}

#footer .footer-action span.label {
	display: block;
	margin: 0 auto;
	color: #FFF;
	font-weight: normal;
	font-size: 14px;
}

#menu {
	color: #818181;
}

#menu p.employee-name {
	color: #000;
	z-index: 10000;
	font-size: 25px;
	position: relative;
	float: left;
	margin: 0;
	margin-top: 15px;
	padding-left: 20px;
}

#menu ul {
	border: none;
	padding-left: 35px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none; 
	box-shadow: none;
}

#menu ul li {
	height: 45px;
}

#menu ul li img {
	height: 25px;
	width: 4%;
	position: absolute;
	left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	float: left;
	object-fit: contain;
	object-position: center;
}

#menu ul li a {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #abacae;
	font-weight: normal;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
	line-height: 25px;
	float: left;
	display: block;
	padding-left: 0;
	width: 93%;
	left: 6%;
	position: absolute;
	min-height: inherit;
}

#menu ul li:last-child a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#menu ul li a.ui-icon-carat-r:after {
	background-color: #FFF;
	background-image: url("../images/content/arrow_right.png");
	background-position: center;
	background-size: 10px;
	background-repeat: no-repeat;
}

#menu ul.menu-bottom {
	top: inherit;
	bottom: 0;
}

#pageContent {
	position: absolute;
	top: 68px;
	bottom: 100px;
	left: 12px;
	right: 12px;
	border: none;
	margin-top: 0;
	padding: 0;
	-webkit-box-shadow: rgba(66, 66, 66, 0.89) 4px 4px 12px 0px; 
	-moz-box-shadow: rgba(66, 66, 66, 0.89) 4px 4px 12px 0px; 
	box-shadow: rgba(66, 66, 66, 0.89) 4px 4px 12px 0px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}