#applications-list-wrapper {
	width: 100%;
	height: 100%;
}

#applications-list-content {
	width: 100%;
	height: 100%;
}

.search-area-bg {
	position: relative;
	background-color: #d1d2d4;
	border-bottom: 1px solid #abacae;
	padding: 10px;
	height: 32px;
}

.search-area-bg .logo {
	position: absolute;
	left: 10px;
	background: url(../../images/content/logo_red.png);
	width: 115px;
	height: 33px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.search-area-bg .cancel,
.search-area-bg .cancel:hover,
.search-area-bg .cancel:active,
.search-area-bg .cancel:focus {
	position: absolute;
	color: #FFF;
	height: 33px;
	padding: 0;
	line-height: 33px;
	width: 95px;
	right: 10px;
	text-align: center;
	background: #ef5a49;
	margin: 0;
	text-shadow: none;
	font-weight: normal;
	font-size: 14px;
	border: none;
	outline: none;
	box-shadow: none;
}

.ui-filterable {
	position: absolute;
	top: 0;
	left: 135px;
	right: 115px;
	box-shadow: none;
	border-radius: 0;
}

.ui-filterable div {
	border-radius: 0;
	box-shadow: none;
}

.ui-filterable div.ui-focus {
	border-radius: 0;
	box-shadow: none;
}

.ui-filterable div input {
	font-weight: normal;
	text-shadow: none;
}

#list-results {
	margin: 0;
	box-shadow: none;
}

.results-title,
.columns {
	padding: 7px 10px;
	margin: 0;
	background: #f7b82e;
}

.columns {
	background: #fafafa;
	height: 30px;
	line-height: 30px;
}

.columns span.name-address-col {
	width: 38%;
	padding-left: 12%;
	display: inline-block;
}

.columns span.phone-col {
	width: 22%;
	display: inline-block;
}

.columns span.date-col {
	width: 26%;
	display: inline-block;
	text-align: center;
}

.application-image-out-border {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
	border: 4px solid #EE5A48;
	position: absolute;
	left: 20px;
	top: 5px;
}

.application-thumbnail {
	width: 56px;
	height: 56px;
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 2px;
	background-position: center center;
	background-size: cover;
}

.application-image-ayoub {
	background-image: url('../../images/ayoub.jpg');
}

.application-image-mehdi {
	background-image: url('../../images/mehdi.jpg');
}

.application-image-souhail {
	background-image: url('../../images/souhail.jpg');
}

.application-image-cris {
	background-image: url('../../images/customer.png');
}

.coordinates-left {
	position: absolute;
	left: 100px;
	width: 25%;
	top: 0px;
}

.ui-listview > li h2,
.coordinates-left h2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0;
}

.coordinates-left p.address {
	margin: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 13px;
}

.coordinates-left p.city {
	margin: 0;
}

.ui-listview > li p.phone,
p.phone {
	font-size: 15px;
	height: 78px;
	line-height: 78px;
	left: 50%;
	position: absolute;
	margin: 0;
	color: #818181;
}

.status {
	width: 20%;
	position: absolute;
	right: 5%;
	top: 0;
	bottom: 0;
	padding-top: 20px;
}

.status .id {
	font-size: 17px;
	margin: 0;
	text-align: center;
}

.status-app.accepted,
.status-app.rejected,
.status-app.pending,
.status-app.missing {
	font-size: 17px;
	margin: 0;
	text-align: center;
}

.accepted {
	color: #06B222;
}

.rejected {
	color: #F20000;
}

.pending {
	color: #F2A500;
}

.missing {
	color: #ADADAD;
}

.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
	height: 78px;
	padding: 0;
	background: #FFF;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}

.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:active,
.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:focus {
	background: #ef5a49;
}

.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:active h2,
.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:focus h2,
.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:active p,
.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:focus p {
	color: #FFF;
}

.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:active .application-image-out-border,
.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:focus .application-image-out-border {
	border-color: #e4e4e4;
} 

.result-item-a.ui-btn.ui-btn-icon-right.ui-icon-carat-r:after {
	background-color: transparent;
	background-image: url("../../images/content/arrow_right.png");
	background-position: center;
	background-size: 10px;
	background-repeat: no-repeat;
}

.behind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.behind a.ui-btn {
    width: 68px;
    margin: 0px;
    float: right;
    border: none;
}

.behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
    color: white;
    background-color: red;
    text-shadow: none;
}

.behind a.ui-btn.pull-left {
    float: left;
} 

.behind a.edit-btn, .behind a.edit-btn:active, .behind a.edit-btn:visited, .behind a.edit-btn:focus, .behind a.edit-btn:hover {
    color: white;
    background-color: orange;
    text-shadow: none;
} 
