#ask-expert-wrapper,
.ask-expert-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
} 

.expert-data-header {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #d1d2d4;
}

.expert-image-out-border {
	width: 70px;
	height: 70px;
	border-radius: 150px;
	background-position: center;
	background-size: cover;
	border: 4px solid #ef5a49;
	position: absolute;
	left: 12px;
	top: 12px;
}

.expert-thumbnail {
	width: 64px;
	height: 64px;
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 3px;
	background-position: center center;
	background-size: cover;
	background-image: url('../../images/souhail.jpg');
}

.coordinates-left {
	position: absolute;
	width: 35%;
	left: 100px;
	top: 0;
	bottom: 0;
}

.coordinates-left h2 {
	margin: 0;
	margin-top: 12px;
	font-size: 22px;
}

.coordinates-left .job-title {
	margin: 0;
}

.coordinates-left .phone {
	margin: 0;
	margin-top: 5px;
}

.coordinates-middle {
	width: 30%;
	top: 0;
	left: 50%;
	bottom: 0;
	position: absolute;
}

.coordinates-middle .address {
	margin: 0;
	margin-top: 40px;
}

.coordinates-middle .city {
	margin: 0;
	margin-top: 5px;
}

.coordinates-right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	width: 15%;
	line-height: 100px;
	background: #000;
	text-shadow: none;
	color: #FFF;
	text-align: center;
}

.coordinates-right input {
	display: none;
}

.conversation-core {
	overflow-y: scroll;
}

.conversation-core,
.video-core {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 136px;
	bottom: 100px;
}

.video-core {
	display: none;
}

.video-core video {
	width: 100%;
}

.conversation-core .bg-left {
	background: #f9fafd;
	position: absolute;
	left: 0;
	top: 0px;
	bottom: 0;
	width: 30%;
}

.chat-title {
	padding: 7px 10px;
	margin: 0;
	background: #f7b82e;
	border-top: 1px solid #abacae;
	border-bottom: 1px solid #abacae;
	font-family: RegularFont;
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	z-index: 1;
}

.conversation-core #chat-results {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 10px;
}

.conversation-core #chat-results .expert {
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
	color: #ef5a49;
}

.conversation-core #chat-results .employee {
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
}

.conversation-core #chat-results .expert .left,
.conversation-core #chat-results .employee .left {
	width: 28%;
	padding-right: 1%;
	float: left;
	display: inline-block;
	text-align: right;
}

.conversation-core #chat-results .expert .right,
.conversation-core #chat-results .employee .right {
	width: 69%;
	padding-left: 1%;
	float: right;
	display: inline-block;
	text-align: left;
}

.bottom-actions {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	height: 90px;	
}

.bottom-actions .chat-actions {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
}

.bottom-actions .chat-actions .ui-block-a a,
.bottom-actions .chat-actions .ui-block-b a {
	margin: 0;
	border-color: #ef5a49;
	border-top: 0;
	color: #ef5a49;
	text-shadow: none;
	border-radius: 0px 0px 0px 7px;
	box-shadow: none;
	background-color: white;
	font-weight: normal;
	text-shadow: none;
}

.bottom-actions .chat-actions .ui-block-a a {
	color: #FFF;
	background-color: #ef5a49;
}

.bottom-actions .chat-actions .ui-block-b a {
	border-radius: 0px 0px 7px 0px;
	border-left: 0;
}

.bottom-actions .chat-actions .ui-block-a a:active,
.bottom-actions .chat-actions .ui-block-b a:active, 
.bottom-actions .chat-actions .ui-block-a a:focus,
.bottom-actions .chat-actions .ui-block-b a:focus,
.bottom-actions .chat-actions .ui-block-a a:hover,
.bottom-actions .chat-actions .ui-block-b a:hover {
	color: #FFF;
	background-color: #ef5a49;
	border-color: #ef5a49;
	text-shadow: none;
}

.bottom-actions .chat-text-content {
	position: absolute;
	bottom: 43px;
	left: 0;
	right: 0;
	border-top: 1px solid #abacae;
	border-bottom: 1px solid #abacae;
	background-color: #d1d2d4;
	border-bottom: 1px solid #abacae;
	padding: 10px;
	height: 25px;
	z-index: 1;
}

.bottom-actions .chat-text-content .logo {
	position: absolute;
	left: 10px;
	background: url(../../images/content/logo_red.png);
	width: 70px;
	height: 20px;
	top: 13px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bottom-actions .chat-text-content .text {
	position: absolute;
	left: 90px;
	top: 6px;
	right: 100px;
	height: 32px;
}

.bottom-actions .chat-text-content .text div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	margin: 0;
	height: 32px;
	border-radius: 7px;
	border: 1px solid #abacae;
	box-shadow: none;
}

.bottom-actions .chat-text-content .text div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset input {
	height: 32px;
	line-height: 33px;
}

.bottom-actions .chat-text-content .send,
.bottom-actions .chat-text-content .send:hover,
.bottom-actions .chat-text-content .send:active,
.bottom-actions .chat-text-content .send:focus {
	position: absolute;
	border-radius: 8px;
	color: #FFF;
	height: 32px;
	padding: 0;
	line-height: 31px;
	width: 78px;
	right: 10px;
	top: 7px;
	text-align: center;
	background: #ef5a49;
	margin: 0;
	text-shadow: none;
	font-weight: normal;
	font-size: 14px;
	border: none;
	outline: none;
	box-shadow: none;
}
