.property-details-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 30px;
}



.property-details-list .attribute {
	float: left;
	width: 90%;
	height: 30px;
}

.property-details-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	width: 60%;
}

.property-details-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
	text-align: right;
}

.property-details-list .thumb-info {
	float: right;
	width: 5%;
	height: 30px;
	line-height: 30px;
	text-align: right;
}


em { color: red; font-weight: bold; padding-right: .25em; }

/* for the photography */

#preview {
				width: 80%; max-width: 300px;
			}
			#preview img {
				width: 100%;
			}
			.hiddenfile {
			 width: 0px;
			 height: 0px;
			 overflow: hidden;
			}

/* End photography */
/* for the date picker*/


/* .datetime-picker * { */
/* 	box-sizing: border-box; */
/* } */

/* .datetime-picker { */
/* 	background: #333; */
/* 	border-color: #111; */
/* 	text-align: center; */
/* } */

/* .datetime-picker h1 { */
/* 	color: #EEE; */
/* 	display: none; */
/* 	text-shadow: #000 0 1px 1px; */
/* 	text-transform: uppercase; */
/* } */

/* .datetime-picker .day button:before { */
/* 	content: attr(data-day); */
/* } */

/* .datetime-picker .columns { */
/* 	background-color: rgba(255, 255, 255, 1); */
/* 	overflow: hidden; */
/* 	position: relative; */
/* 	box-shadow: inset 0 45px 50px -20px rgba(51, 51, 51, .66), inset 0 -45px 50px -20px rgb(51, 51, 51); */
/* 	margin: 5px 5px 0; */
/* 	text-align:left; */
/* } */

/* .datetime-picker .columns:before { */
/* 	background: #36F; */
/* 	color: transparent; */
/* 	text-shadow: 0 0 none; */
/* 	line-height: 2.4em; */
/* 	position: absolute; */
/* 	opacity: .5; */
/* 	top: 5em; */
/* 	display: block; */
/* 	content: "."; */
/* 	left: 0; */
/* 	right: 0; */
/* } */

/* .datetime-picker b { */
/* 	background-color: rgba(256, 256, 256, 0); */
/* 	display: inline-block; */
/* 	font-size: 20px; */
/* 	float: left; */
/* 	height: 10em; */
/* 	margin: 0; */
/* 	width: 70px; */
/* 	overflow-y: auto; */
/* 	border-left: 2px solid #333; */
/* 	border-right: 2px solid #333; */
/* 	-ms-overflow-style: -ms-autohiding-scrollbar; */
/* } */

/* .datetime-picker b::-webkit-scrollbar { */
/* 	width: 0 !important */
/* } */

/* .datetime-picker ul { */
/* 	display: block; */
/* 	list-style: none; */
/* 	margin: 0; */
/* 	padding: 4em 0; */
/* 	position: relative; */
/* 	background-color: rgba(256, 256, 256, 0); */
/* } */

/* .datetime-picker li { */
/* 	list-style: none; */
/* 	width: 100%; */
/* 	background-color: rgba(256, 256, 256, 0); */
/* } */

/* .datetime-picker .ui-btn-up-b, */
/* .datetime-picker .ui-btn-hover-b{ */
/* 	margin: 10px 5px; */
/* } */

/* .datetime-picker button { */
/* 	clear: both; */
/* 	border: 0 none; */
/* 	box-sizing: border-box; */
/* 	color: #333; */
/* 	cursor: pointer; */
/* 	display: block; */
/* 	font-size: inherit; */
/* 	font-weight: bold; */
/* 	line-height: 2em; */
/* 	margin: 0; */
/* 	text-decoration: none; */
/* } */

/* .datetime-picker li button { */
/* 	background-color: transparent; */
/* 	padding: 0; */
/* 	width: 100%; */
/* } */

/* .datetime-picker li button:disabled { */
/* 	color: #AAA; */
/* 	cursor: default; */
/* } */
/* #set-btn{ */
/* 	width: 100%; */
/* } */


/* for validator   ------------------------------------------------------------------*/
/* Z-INDEX */
 .formError { z-index: 990; }
    .formError .formErrorContent { z-index: 991; }
    .formError .formErrorArrow { z-index: 996; }

    .ui-dialog .formError { z-index: 5000; }
    .ui-dialog .formError .formErrorContent { z-index: 5001; }
    .ui-dialog .formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 120px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 11px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}




