.tablist-left {
    width: 30%;
    display: inline-block;
}
.tablist-content {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.customer-view-content{
	
	margin-top: 0px;
}
#allTable{
	width: 100%;
	
}


/* for the date picker*/


.datetime-picker * {
	box-sizing: border-box;
}

.datetime-picker {
	background: #333;
	border-color: #111;
	text-align: center;
}

.datetime-picker h1 {
	color: #EEE;
	display: none;
	text-shadow: #000 0 1px 1px;
	text-transform: uppercase;
}

.datetime-picker .day button:before {
	content: attr(data-day);
}

.datetime-picker .columns {
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	position: relative;
	box-shadow: inset 0 45px 50px -20px rgba(51, 51, 51, .66), inset 0 -45px 50px -20px rgb(51, 51, 51);
	margin: 5px 5px 0;
	text-align:left;
}

.datetime-picker .columns:before {
	background: #36F;
	color: transparent;
	text-shadow: 0 0 none;
	line-height: 2.4em;
	position: absolute;
	opacity: .5;
	top: 5em;
	display: block;
	content: ".";
	left: 0;
	right: 0;
}

.datetime-picker b {
	background-color: rgba(256, 256, 256, 0);
	display: inline-block;
	font-size: 20px;
	float: left;
	height: 10em;
	margin: 0;
	width: 70px;
	overflow-y: auto;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.datetime-picker b::-webkit-scrollbar {
	width: 0 !important
}

.datetime-picker ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 4em 0;
	position: relative;
	background-color: rgba(256, 256, 256, 0);
}

.datetime-picker li {
	list-style: none;
	width: 100%;
	background-color: rgba(256, 256, 256, 0);
}

.datetime-picker .ui-btn-up-b,
.datetime-picker .ui-btn-hover-b{
	margin: 10px 5px;
}

.datetime-picker button {
	clear: both;
	border: 0 none;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	display: block;
	font-size: inherit;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	text-decoration: none;
}

.datetime-picker li button {
	background-color: transparent;
	padding: 0;
	width: 100%;
}

.datetime-picker li button:disabled {
	color: #AAA;
	cursor: default;
}




