.customer-image-out-border {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background-position: center center;
	background-size: cover;
	border: 4px solid #EE5A48;
	margin-right: 5%;
	margin-left: auto;
	float: left;
}

.customer-image {
	width: 45px;
	height: 45px;
	border-radius: 100px;
	background-position: center center;
	background-size: cover;
	background-color: #000;
	background-image: url('../../images/mehdi.jpg');
	padding: 2px;
	margin: 5px auto auto;
}