#forgot-pass-wrapper {
	height : 100%;
	height: 100%;
}

.forgot-pass-content {
	height: 100%;
	height: 100%;
	background-image: url(../../images/content/welcome-bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*-- --*/
#confirmationPopup-popup {
	max-width: 100%;
	top: 88px;
	right: 12px;
	bottom: 32px;
	left: 12px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgba(0, 0, 0, 0.67);
}

#confirmationPopup {
	width: 550px;
	max-width: 550px;
	margin: 0 auto;
	margin-top: 50%;
	box-shadow: none;
	color: #FFF;
	border-radius: 10px;
	background: #ef5a49;
}

#confirmationPopup p {
	text-align: center;
	font-size: 20px;
}

.ui-popup-container.fade.in.ui-popup-active {
	position: absolute;
	max-width: 100%;
	top: 88px;
	bottom: 32px;
	z-index: 10;
}
/* --- */

.forgot-pass-content div,
.forgot-pass-content p,
.forgot-pass-content input {
	margin: 0;
}

.forgot-pass-content .ui-input-text input {
	min-height: 45px;
}

.forgot-pass-content form {
	position: absolute;
	width: 35%;
	left: 32.5%;
	top: 35%;
}

.forgot-pass-content form p {
	margin-bottom: 10px;
}

.forgot-pass-content form p.email-p label {
	position: absolute;
	left: 10px;
	top: 9px;
	height: 30px;
	width: 30px;
	margin-bottom: 0;
	z-index: 1000;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.forgot-pass-content form p.email-p label {
	background: url(../../images/content/envelop.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.forgot-pass-content form p.email-p .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	position: relative;
	height: 47px;
}

.forgot-pass-content form p.email-p input {
	position: absolute;
	height: 47px;
	top: 0;
	left: 39px;
	right: 0;
	width: inherit;
}

.forgot-pass-content form div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	margin: 0;
	border: 1px solid #818181;
	box-shadow: none;
	outline: none;
	border-radius: 5px;
}

p.submit-forgot {
	color: #FFF;
	margin-bottom: 10px;
}

p.submit-forgot div {
	height: 23px;
	line-height: 23px;
	font-size: 18px;
}

.submit-forgot div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
	background: #ef5a49;
	color: #FFF;
	border: none;
	text-shadow: none;
	font-weight: normal;
	border-radius: 7px;
	box-shadow: none;
}

.submit-forgot div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow input {
	font-weight: normal;
}

p.bottom-copyright {
	position: absolute;
	bottom: 5px;
	margin: 0;
	font-size: 12px;
	left: 25%;
	width: 50%;
	text-align: center;
	color: #595959;
}

p.bottom-copyright a,
p.bottom-copyright a:hover,
p.bottom-copyright a:focus,
p.bottom-copyright a:active {
	font-weight: normal;
	color: #595959;
	text-decoration: none;
}
