#forgotpasswordcontent {
	width: 450px;
	margin: 0 auto;
	right: auto; 
	left: auto;
}

#email {
    position:relative;
    
}
#emailinput{
	padding-left: 50px;
	width: 80%;
	
}
.smallicon{
   position: absolute;
	left: 9px;
	top: 8px;
	width: 27px;
	height: 19px;
	background-color: #FFF;
}
#logo{	
	margin-left: auto;
	background-image: url("../../images/logo.png"); 
	background-position: center;
	height: 150px; 
	margin-right: auto;
	background-repeat: no-repeat; 
	width: 100%;	
}

#dialog{
	margin-top: 92px;
	height: 300px;
}
#dialogmessage{
	background-color: white;
	height: 100px;
}

#sentpassword{
	margin-top: 92px;
	height: 200px;
}




