.help-center-content {
	width: 100%;
	margin-top: 10%;
}

.help-center-content h2 {
	width: 100%;
	float: left;
	text-align: center;
	font-weight: normal;
	margin-bottom: 80px;
}

.go-to-faq {
	width: 30%;
	height: 120px;
	float: left;
	margin-left: 15%;
	border: 1px solid #ef5a49;
	text-align: center;
	padding: 10px;
	color: #ef5a49;
	background-color: white;
	font-weight: normal;
	border-bottom-left-radius: 10px;
}

.go-to-send-problem {
	width: 30%;
	height: 120px;
	float: right;
	margin-right: 15%;
	border: 1px solid #ef5a49;
	text-align: center;
	padding: 10px;
	color: #ef5a49;
	background-color: white;
	font-weight: normal;
	border-bottom-right-radius: 10px;
}

.go-to-faq:active,
.go-to-faq:focus,
.go-to-send-problem:active,
.go-to-send-problem:focus {
	color: #FFF;
	background-color: #ef5a49;
	font-weight: bold;
}

.go-to-faq p,
.go-to-send-problem p {
	height: 100%;
	margin: 0;
	line-height: 120px;
}