#loginWrapper{
	background-image: url("../../images/content/meeting.png") ;
	background-repeat : no-repeat;
	overflow: hidden;
	height : 100%;
    background-size: cover;
    background-position: center;
	min-height:100%;
	height:auto !important;
	margin: 0 auto -5px;
	position : relative;
    
}
#imgcomplete{
	background-image: url ("../../images/content/imgbuttom.png") ;
	background-repeat: repeat-y;
	background-color: white;
}
#loginContent {
	width: 300px;
	margin: 0 auto;
	right: auto; 
	left: auto;
	padding-top :300px
}

#email,#password {
    position:relative;
    
}

#emailinput{
	padding-left: 50px;
	width: 80%;
	
}
#passwordinput{
	padding-left: 50px;
	width: 80%;
	
}
.smallicon{
    position: absolute;
	left: 9px;
	top: 8px;
	object-fit: contain;
	width: 20px;
	height: 20px; 
	background-color: #FFF;
}
#logo1{	
	margin-left: auto;
	background-image: url("../../images/logo.png"); 
	background-position: center;
	height: 150px; 
	margin-right: auto;
	background-repeat: no-repeat; 
	width: 100%;	
}

#dialog{
	margin-top: 92px;
	height: 300px;
}
#dialogmessage{
	background-color: white;
	height: 100px;
}
#links a{
color : #ef5a49;	
}
#buttongo{
	background-color: #ef5a49;
	color: white;
		
}

#sentpassword{
	margin-top: 92px;
	height: 200px;
}

#register{
	float: right;
	
}
#forgot{
	float: left;
}
#languages{
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #EF5A49;
	buttom: 0;
    margin-left : 2%;
    margin-right : 10px; 
    width : 95%;
    height : 100px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
	clear : both;
	margin-top: 250px;
}
#frensh{
	padding-top : 5%;
	padding-bottom : 6%;
	float:left;
	width :50%;
	height :auto;
	text-align : center;
	color :#ef5a49;
	border-right: 1px solid #EF5A49;
	
}	
#arabic{
	padding-top : 5%;
	padding-bottom : 5%;
	float: right;
	width: 49%;
	height: auto;
	text-align: center;
	color: #EF5A49;
	
}