#loginWrapper{
	background-image: url("../../images/content/meeting.png") ;
	background-repeat : no-repeat;
	overflow: hidden;
	height : 100%;
    background-size: cover;
    background-position: center;
    
}
#imgcomplete{
	background-image: url ("../../images/content/imgbuttom.png") ;
	background-repeat: repeat-y;
	background-color: white;
}
#loginContent {
	width: 300px;
	margin: 0 auto;
	right: auto; 
	left: auto;
	padding-top :300px
}

#email,#password {
    position:relative;
    
}

#emailinput{
	padding-left: 50px;
	width: 80%;
	
}
#passwordinput{
	padding-left: 50px;
	width: 80%;
	
}
.smallicon{
    position: absolute;
	left: 9px;
	top: 8px;
	object-fit: contain;
	width: 20px;
	height: 20px; 
	background-color: #FFF;
}
#logo1{	
	margin-left: auto;
	background-image: url("../../images/logo.png"); 
	background-position: center;
	height: 150px; 
	margin-right: auto;
	background-repeat: no-repeat; 
	width: 100%;	
}

#dialog{
	margin-top: 92px;
	height: 300px;
}
#dialogmessage{
	background-color: white;
	height: 100px;
}
#links a{
color : #ef5a49;	
}
#buttongo{
	background-color: #ef5a49;
	color: white;
		
}

#sentpassword{
	margin-top: 92px;
	height: 200px;
}

#register{
	float: right;
	
}
#forgot{
	float: left;
}

