.mortgage-view-content {
	height: 100%;
	background-color: white;
	padding: 5px;
}

#panel-expert {
	width: 100%;
	height: 40%;
}

#pageContent {
	background-color: white;
	overflow: hidden;
	height: 95%;
}

.mortgage-terms-list {
	box-shadow: none;
}

.mortgage-terms-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: left;
}

.mortgage-terms-list .thumb-info {
	float: right;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: right;
}

.thumb-icon {
	margin-top: 8px;
	width: 20px;
	height: 20px;
	object-fit: contain;
}

#mortgage-terms-form {
	background-color: white;
	bottom: 0;
	position: inherit;
	top: 0;
	left: 0;
	right: 0;
	height: 350px;
}

input.rightText {
	text-align: right;
}

#mortgage-terms-form ul li {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #efefef;
	border-left: none;
	border-radius: 0;
}

.ui-listview li p {
	font-size: .75em;
	font-weight: normal;
	display: block;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.select-informations {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	width: 105%;
	float: right;
	direction: rtl;
}

.mortgage-terms-list .attribute {
	float: left;
	width: 90%;
	height: 30px;
}

.mortgage-terms-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	font-size: 18px;
	width: 60%;
	line-height: 40px;
}

.mortgage-terms-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
	font-size: 18px;
	text-align: right;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
}

div.image {
	position: relative;
	width: 100%;
	height: 50%;
	background-image: url(../../images/content/mortgage-terms.png);
	background-size: cover;
	background-repeat: no-repeat;
}

div.image .bottom-title-effect {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: 45px;
	background-color: #5e5e5e;
	opacity: 0.5;
}

div.image .bottom-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	margin: 0;
	color: #FFF;
	padding: 5px;
	font-size: 25px;
	z-index: 10;
}

#popupDialog-popup {
	width: 45%;
	top: 435px;
	left: 27.5%;
}

#button-div .ui-block-a,
#button-div .ui-block-b {
	text-shadow: none;
	margin: 0px;
	height: 48px;
}

#button-div .ui-block-b {
	border-radius: 0px 0px 5px 0px;
}

#button-div .ui-block-a a,
#button-div .ui-block-b a {
	box-shadow: none;
	text-shadow: none;
	color: #ef5a49;
	height: 43px;
	padding: 0;
	margin: 0;
	line-height: 43px;
	border: 1px solid #ef5a49;
	background-color: #FFF;
	font-weight: normal;
	display: block;
	border-radius: 0px 0px 5px 0px;
	text-decoration: none;
}

#button-div .ui-block-a a {
	border-radius: 0px 0px 0px 5px;
	width: 100%;
}

#button-div .ui-block-a a:active,
#button-div .ui-block-b a:active, 
#button-div .ui-block-a a:focus,
#button-div .ui-block-b a:focus,
#button-div .ui-block-a a:hover,
#button-div .ui-block-b a:hover {
	color: #FFF;
	background-color: #ef5a49;
	text-shadow: none;
}

#button-div {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0px;
	margin-bottom: 5px;
}