.mortgage-view-content {
	height: 100%;
	background-color: white;
}

#panel-expert {
	width: 100%;
	height: 40%;
}

#pageContent3 {
	background-color: white;
	height: 95%;
}

.mortgage-terms-list {
	box-shadow: none;
}

.mortgage-terms-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: left;
}

.mortgage-terms-list .thumb-info {
	float: right;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: right;
}

.thumb-icon {
	margin-top: 8px;
	width: 20px;
	height: 20px;
	object-fit: contain;
}

#mortgage-terms-form {
	background-color: white;
	bottom: 0;
	position: inherit;
	top: 0;
	left: 0;
	right: 0;
	height :51%;
}

input.rightText {
	text-align: right;
}

#mortgage-terms-form ul li {
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.ui-listview li p {
	font-size: .75em;
	font-weight: normal;
	display: block;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.select-informations {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	width: 105%;
	float: right;
	direction: rtl;
}

.mortgage-terms-list .attribute {
	float: left;
	width: 90%;
	height: 30px;
}

.mortgage-terms-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	font-size: 18px;
	width: 60%;
	line-height: 40px;
}

.mortgage-terms-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
	font-size: 18px;
	text-align: right;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
}


div.image {
	position: relative;
	width: 100%;
	height: 50%;
	background-image: url(../../images/content/mortgage-terms.png);
	background-size: cover;
	background-repeat: no-repeat;
} 

div.image .bottom-title-effect {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: 45px;
	background-color: #5e5e5e;	
	opacity:0.5;
}

div.image .bottom-title {
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	margin: 0;
	text-align: right;
	color: #FFF;
	padding: 5px;
	font-size: 25px;
	z-index: 10;
}

#popupDialog-popup{
	width: 45%;
	top: 435px;
	left: 27.5%;
}