.property-details-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: left;
}

.property-details-list .attribute {
	float: left;
	width: 90%;
	height: 30px;
}

.property-details-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	font-size: 18px;
	width: 60%;
	line-height: 40px;
}

.property-details-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
	font-size: 18px;
	text-align: right;
}

.property-details-list {
	box-shadow: none;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
}

.select-informations {
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: center;
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	width: 105%;
	float: right;
	direction: rtl;
}

input.rightText {
	text-align: right;
}

.property-details-list .thumb-info {
	float: right;
	width: 5%;
	height: 30px;
	line-height: 45px;
	text-align: right;
}

.thumb-icon {
	margin-top: 8px;
	width: 20px;
	height: 20px;
}

#property_form {
	background-color: white;
}

#property_form ul li {
	border: none;
}

.ui-listview li p {
	font-size: .75em;
	font-weight: normal;
	display: block;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

table,td,th {
	border-color: #DF4B20;
	background-color: white;
	height: 90px;
	text-align: center;
}

input.centerText {
	text-align: center;
	border: none;
	border: 0;
	border-color: white;
	margin: 0;
	padding: 0;
}

.ui-input-text.ui-custom {
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0px;
	text-align: right;
}

#testimage img {
	max-width: 900px;
	max-height: 750px;
	min-height: 380px;
}

#button-div {
	position: absolute;
	width: 98%;
	bottom: 10px;
	left: 1%;
	right: 1%;
}

#button-div .ui-block-a,#button-div .ui-block-b {
	text-shadow: none;
	margin: 0px;
	height: 48px;
}

#button-div .ui-block-b {
	border-radius: 0px 0px 5px 0px;
}

#button-div .ui-block-a a,#button-div .ui-block-b a {
	box-shadow: none;
	text-shadow: none;
	color: #ef5a49;
	width: 99.5%;
	height: 43px;
	padding: 0;
	margin: 0;
	line-height: 43px;
	border: 1px solid #ef5a49;
	background-color: #FFF;
	font-weight: normal;
	display: block;
	border-radius: 0px 0px 5px 0px;
	text-decoration: none;
}

#button-div .ui-block-a a {
	border-radius: 0px 0px 0px 5px;
	width: 100%;
}

#button-div .ui-block-a a:active,#button-div .ui-block-b a:active,#button-div .ui-block-a a:focus,#button-div .ui-block-b a:focus,#button-div .ui-block-a a:hover,#button-div .ui-block-b a:hover
	{
	color: #FFF;
	background-color: #ef5a49;
	text-shadow: none;
}

#mortgageSimulator ul li {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #efefef;
	border-left: none;
	border-radius: 0;
}

.property-details-list .attribute .attribute-value input {
	text-align: right;
}