#mortgage-center-view-wrapper {
	width: 100%;
	height: 100%;
}

.mortgage-center-view-content {
	width: 100%;
	height: 100%;
}

.paths {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	position: relative;
}

.paths tr {
	width: 100%;
	position: relative;
}

.paths tr td.path {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.paths tr td.path.advertisement {
	width: 100%;
	height: 434px;
	background-image: url(../../images/content/advertisements_mortgage.png);
} 

.paths tr td.path.new-mortgage {
	width: 50%;
	border-right: 1px solid #FFF;
	background-image: url(../../images/content/new_mortgage.png);
} 

.paths tr td.path.refinancing {
	width: 50%;
	border-left: 1px solid #FFF;
	background-image: url(../../images/content/refinancing_mortgage.png);
} 

.paths tr td.path.applications {
	width: 50%;
	border-right: 1px solid #FFF;
	background-image: url(../../images/content/view_application_mortgage.png);
} 

.paths tr td.path.mortgage-simulator {
	width: 50%;
	border-left: 1px solid #FFF;
	background-image: url(../../images/content/simulator_mortgage.png);
} 

.paths tr.spacer {
	height: 2px;
}

.paths tr.offer-autoloan td p.top-title{
	color: #FFF;
}

.paths tr td div.bottom-title-effect {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: 45px;
	background-color: #5e5e5e;
	opacity : 0.5;
	
}

.paths tr td p.bottom-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	text-align: right;
	color: #FFF;
	padding: 5px;
	font-size: 25px;
	z-index: 10;
	
}



#button-div {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 0px;
	margin-bottom: 5px;
}

.ui-title #button-div .ui-block-a {
	color: #BD2020;
	background-color: #FFF;
	font-weight: normal;
	text-shadow: 0px 0px 0px #EEE;
	border-radius: 0px 0px 0px 5px;
	margin: 0px;
	border: 1px solid #DF4B20;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui-title #button-div .ui-block-b {
	color: #BD2020;
	background-color: #FFF;
	font-weight: normal;
	text-shadow: 0px 0px 0px #EEE;
	border-radius: 0px 0px 5px 0px;
	margin: 0px;
	border: 1px solid #DF4B20;
	border-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#popupDialog-popup{
	width: 45%;
	top: 435px;
	left: 27.5%;
}