#next-best-offer-wrapper {
	width: 100%;
	height: 100%;
}

.next-best-offer-content {
	width: 100%;
	height: 100%;
}

.offers {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	position: relative;
}

.offers tr {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.offers tr.spacer {
	height: 2px;
}

.offers tr td.offer {
	position: relative;
}

.offers tr td p.top-title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	text-align: left;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 10px;
	color: #818181;
}

.offers tr.offer-autoloan td p.top-title{
	color: #FFF;
}

.offers tr td div.bottom-title-effect {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: 50px;
	background-color: #5e5e5e;
	
	-webkit-filter: blur(17px);
    -moz-filter: blur(17px);
    -o-filter: blur(17px);
    -ms-filter: blur(17px);
    filter: blur(17px);
    z-index: 0;
}

.offers tr td p.bottom-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	text-align: right;
	color: #FFF;
	padding: 5px;
	font-size: 30px;
	z-index: 10;
	
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}

.offers tr.offer-insurance {
	background-image: url(../../images/content/insurance_best_offers.jpg);
}

.offers tr.offer-investment {
	background-image: url(../../images/content/investment_best_offers.jpg);
}

.offers tr.offer-autoloan {
	background-image: url(../../images/content/autoloan_best_offers.jpg);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}