.notifications-content .notifications-new-all-switch a {
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 40px;
}

.notifications-content .notifications-new-all-switch a i {
	height: 40px;
	line-height: 40px;
}

.notifications-categories ul {
	padding-top: 15px;
}

.notifications-categories ul #all-notifications {
	height: 60px; 
	line-height: 60px;  
}

.notifications-categories ul #unread-notifications {
	height: 60px; 
	line-height: 60px; 
	text-align: center; 
	padding-left: 30%;
}

.notifications-categories ul #unread-notifications span.title {
	display: inline-block; 
	float: left;
}

.notifications-categories ul #unread-notifications i {
	display: inline-block; 
	font-size: 62px; 
	float: left;
}

.notifications-categories ul #unread-notifications span.count {
	display: inline-block; 
	float: left; 
	margin-left: -45px; 
	color: #FF0000; 
	font-size: 20px;
}

.ui-listview > li p.notification-core {
	display: block;
	max-height: 32px;
	overflow: hidden;
	white-space: initial;
}

.ui-listview > li p.notification-core::after {
	content: ' ...';
}

.delete-button {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.delete-button a.ui-btn {
	width: 68px;
	margin: 0px;
	float: right;
	border: none;
}

.delete-button a.delete-btn, 
.delete-button a.delete-btn:active, 
.delete-button a.delete-btn:visited, 
.delete-button a.delete-btn:focus, 
.delete-button a.delete-btn:hover {
	color: white;
	background-color: red;
	text-shadow: none;
}

.notification-item-a {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

.notification-item-a .ui-li-thumb {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
	background-color: #000;
	background-image: url("../../images/mehdi.jpg");
	float: left;
	margin-right: 15px; 
}

.load-more {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: right;
}