.header-message {
	width: 85%;
	float: left;
	margin-bottom: 30px;
}

.header-message .thumbnail {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
	background-color: #000;
	background-image: url("../../images/mehdi.jpg");
	float: left;
	margin-right: 15px;
}

.header-message .title {
	float: left;
	margin-top: 0px;
	width: 700px;
	margin-bottom: 0px;
}

.header-message .date {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	width: 700px;
	font-size: 13px;
}

.header-message .status {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}

.notifications-content-content .resend-rejected {
	width: 14%;
	display: inline-block;
	float: right;
	background: #FF0000;
	text-shadow: none;
	color: #FFF;
}

.message-core {
	float: left;
	margin-top: 0;
	width: 100%;
	text-align: justify;
}

h3 {
	float: left;
	width: 100%;
	margin-bottom: 0px;
}

.attachements {
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 50px;
}

.attachements .attachements-content {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
}

.attachements .attachements-content:first-child {
	margin-right: 20px;	
}

.attachements .attachements-content i {
	font-size: 30px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

.attachements .attachements-content span {
	display: inline-block;
	width: 100%;
	float: left;
}