#splash-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F0F0F0;
}

/*.splash-content {
	width: 50%;
	top: 0;
	left: 25%;
	position: absolute;
	margin: 0 auto;
}*/

.language-form {
	width: 50%;
	top: 50%;
	left: 25%;
	position: absolute;
	margin: 0 auto;
	/*noth*/
}

.language-form #loginAction {
	display: block;
	margin: 0 auto;
	width: 30%;
	margin-top: 35px;
}

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 42%;
    animation: move 15s infinite;
    -webkit-animation: move 15s infinite;
}

.delete-button {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.delete-button a.ui-btn {
	width: 68px;
	margin: 0px;
	float: right;
	border: none;
}

.delete-button a.delete-btn, 
.delete-button a.delete-btn:active, 
.delete-button a.delete-btn:visited, 
.delete-button a.delete-btn:focus, 
.delete-button a.delete-btn:hover {
	color: white;
	background-color: red;
	text-shadow: none;
}

@-webkit-keyframes move { 
    3% {
        top: calc(30% - 25px); 
        opacity: 1;
    }
    3.5% {
        top: calc(30% - 30px); 
        opacity: 1;
    }
    4% {
        top: calc(30% - 25px); 
        opacity: 1;
    }
    4.5% {
        top: calc(30% - 28px); 
        opacity: 1;
    }
    5% {
        top: calc(30% - 25px); 
        opacity: 1;
    }
    100% {
        top: calc(30% - 25px); 
        opacity: 0;
    }
}