.property-details-list .thumb {
	float: left;
	width: 5%;
	height: 30px;
	line-height: 30px;
}

.property-details-list .attribute {
	float: left;
	width: 95%;
	height: 30px;
}

.property-details-list .attribute .attribute-label {
	display: inline-block;
	float: left;
	width: 60%;
}

.property-details-list .attribute .attribute-value {
	display: inline-block;
	float: right;
	width: 40%;
}