.settings-content .ui-field-contain {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}

.settings-content .ui-field-contain h3 {
	padding-bottom: 0;
	margin-top: 5px;
	margin-bottom: 3px;
	border-bottom: 3px solid #D5D5D5;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	width: 100%;
}

.settings-content .ui-field-contain p {
	padding: 2%;
	margin: 0;
	width: 96%;
	float: left;
}

.settings-content .ui-field-contain p.bottom-border {
	border-bottom: 1px solid #DEDEDE;
}

.settings-content .ui-field-contain .clickable:ACTIVE {
	background: #EDEDED;
}

.settings-content .ui-field-contain .clickable:FOCUS {
	background: #EDEDED;
}

.settings-content .ui-field-contain p span:first-child {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
}

.settings-content .ui-field-contain p span:last-child {
	display: block;
	font-size: 15px;
}

.settings-content .ui-field-contain p.select .ui-slider {
	width: 150px;
	display: block;
	float: right;
}

.settings-content .ui-field-contain p.select label {
	width: 400px;
	display: block;
	float: left;
}

.settings-content p.no-padding {
	width: 100%;
	padding: 0;
}

.settings-content p.no-padding .ui-checkbox label {
	width: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: normal;
}

.settings-content p.no-padding .ui-checkbox {
	margin: 0;
}

.settings-content p.no-padding .ui-checkbox label {
	background-color: #F9F9F9;
	border: none;
	color: #000;
}

.settings-content p.no-padding .ui-checkbox label:ACTIVE {
	border-radius: 0; 
}

.settings-content p.no-padding .ui-checkbox label:FOCUS {
	border-radius: 0; 
}
