.settings-content .ui-field-contain {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}

.settings-content .ui-field-contain h3 {
	padding-bottom: 0;
	margin-top: 5px;
	margin-bottom: 3px;
	border-bottom: 3px solid #D5D5D5;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	width: 100%;
	font-family: RegularFont;
}

.settings-content .ui-field-contain p {
	padding: 2%;
	margin: 0;
	width: 96%;
	float: left;
}

.settings-content .ui-field-contain p strong {
	font-family: RegularFont;
}

.settings-content .ui-field-contain p.bottom-border {
	border-bottom: 1px solid #DEDEDE;
}

.settings-content .ui-field-contain .clickable:ACTIVE {
	background: #EDEDED;
}

.settings-content .ui-field-contain .clickable:FOCUS {
	background: #EDEDED;
}

.settings-content .ui-field-contain p span:first-child {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
}

.settings-content .ui-field-contain p span:last-child {
	display: block;
	font-size: 15px;
}

.settings-content .ui-field-contain p.select .ui-slider {
	width: 150px;
	display: block;
	float: right;
}

.settings-content .ui-field-contain p.select label {
	width: 400px;
	display: block;
	float: left;
}

.settings-content p.no-padding {
	width: 100%;
	padding: 0;
}

.settings-content p.no-padding .ui-checkbox label {
	width: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: normal;
}

.settings-content p.no-padding .ui-checkbox {
	margin: 0;
}

.settings-content p.no-padding .ui-checkbox label {
	background-color: #F9F9F9;
	border: none;
	color: #000;
}

.settings-content p.no-padding .ui-checkbox label:ACTIVE {
	border-radius: 0; 
}

.settings-content p.no-padding .ui-checkbox label:FOCUS {
	border-radius: 0; 
}


/* --- */
#languagePopup {
	padding: 0;
	padding: 0;
	top: 42%;
	position: absolute;
	width: 74%;
	left: 13%;
}

#languagePopup .header {
	padding: 10px;
	text-align: center;
	background: #ef5a49;
	color: #FFF;
}

#languagePopup .header h1 {
	margin: 0;
}

#languagePopup .main {
	padding-bottom: 10px;
}

#languagePopup .main p {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 18px;
}

#languagePopup .language-actions .ui-block-a a, 
#languagePopup .language-actions .ui-block-b a {
	margin: 0;
	border-color: #ef5a49;
	color: #ef5a49;
	text-shadow: none;
	border-radius: 0px 0px 0px 15px;
	box-shadow: none;
	background-color: #FFF;
	font-weight: normal;
	text-shadow: none;
}

#languagePopup .main.ui-content .language-actions .ui-block-b a {
	border-left: 0;
	border-radius: 0px 0px 15px 0px;
}

#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-a a:hover, 
#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-b a:hover,
#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-a a:focus, 
#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-b a:focus,
#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-a a:active, 
#languagePopup .main.ui-content .language-actions.ui-grid-a.ui-responsive .ui-block-b a:active {
	background-color: #ef5a49;
	color: #FFF;
}

#languagePopup-popup {
	max-width: 100%;
	top: 0px;
	right: 12px;
	bottom: 99px;
	left: 12px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgba(0, 0, 0, 0.67);
}

.ui-popup-container.fade.in.ui-popup-active {
	position: absolute;
	max-width: 100%;
	top: 88px;
	z-index: 1001;
}

.ui-slider-label.ui-slider-label-a.ui-btn-active {
	background-color: #ef5a49;
	text-shadow: none;
}