.jssora02l,.jssora02r,.jssora02ldn,.jssora02rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	overflow: hidden;
}

#btn-div-l {
	width: 45%;
	height: 42px;
	bottom: 0;
	left: 5px;
}

#btn-div-r {
	width: 45%;
	height: 42px;
	bottom: 0;
	right: 5px;
}


#ui-block-a {
	color: #BD2020;
	background-color: #FFF;
	font-weight: normal;
	text-shadow: 0px 0px 0px #EEE;
	border-radius: 0px 0px 0px 5px;
	margin: 0px;
	height : 100%;
	border: 1px solid #DF4B20;
	padding-top: 5px;
	padding-bottom: 5px;
}

#ui-block-b {
	color: #BD2020;
	background-color: #FFF;
	font-weight: normal;
	text-shadow: 0px 0px 0px #EEE;
	border-radius: 0px 0px 5px 0px;
	margin: 0px;
	height : 100%;
	border: 1px solid #DF4B20;
	padding-top: 5px;
	padding-bottom: 5px;
}