/* .ui-icon-available-status {
	background-image: url("images/Pages/ask_expert/expert_view/icon-available.png");
	background-size: 18px 18px;
}

.ui-icon-busy-status {
	background-image: url("images/Pages/ask_expert/expert_view/icon-busy.png");	
	background-size: 18px 18px;                   
}

.ui-icon-offline-status {
	background-image: url("images/Pages/ask_expert/expert_view/icon-offline.png");	
	background-size: 18px 18px;                   
} */

.expertInfosection{
	height: 100px;
}

.expertInfoSectionImage{
	width: 20%;
}

.expertInfoSectionDetail{
	width: 66%;
	float:left;
}

.expertInfoSectionEmail{
	width: 14%;
	height: 100px;
	/* height: 100px; */
	background-color: #000000; 
}
	
.circularImage{
	
	 width: 80px;
      height: 80px;
     /* float: left;*/
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      border-radius: 40px;     
	border: 4px solid red;
	padding: 2px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

.expertImageOutBorder {
	width: 90px;
	height: 90px;
	border-radius: 90px;
	background-position: center;
	background-size: cover;
	border: 4px solid red;
	margin-right: auto;
	margin-left: auto;
}

.expertImage {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
	background-color: #000;
	/* background-image: url("../../images/mehdi.jpg"); */
	padding: 2px;
	margin: auto;
	margin-top: 10px;
	margin-left: 20px;
	border: 4px solid red;
}

.chatArea {
	background-color: #FFFFFF;
	height: 535px;
}

.logoRed{
	width: 80px;
	height: 20px;
	/* padding: 2px; */
	margin-top: 18px;
	margin-left:15px
}

.buttonSend
{
    width:40 px;
    height: 40px;
}

a#audioChat {
	margin: 0;
	border-color: #DF4B20;
	color: #BD2020;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 0px 5px;
}

a#videoChat {
	margin: 0;
	border-color: #DF4B20;
	border-width: 1px 1px 1px 0;
	color: #BD2020;
	text-shadow: 0 0px 0 #eeeeee;
	border-radius: 0px 0px 5px;
}